@using X.PagedList.Mvc.Core
@using DATN_LUNA_HOTEL.Models
@model X.PagedList.IPagedList<KhachSan>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhMucKhachSan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@functions {
    QuanLyKhachSanContext db = new QuanLyKhachSanContext();

    public string getTinhThanhById(int? idTinhThanh)
    {
        var tinh = db.TinhThanhs.FirstOrDefault(t => t.Id == idTinhThanh);
        return tinh.TenTinh;
    }
}

<style>
    td a {
        font-size: 20px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding-top: 16px;
    }

    ul {
        list-style-type: none;
    }

    /* Định dạng cho bảng */
    .table {
        width: 100%;
        border-collapse: collapse;
        font-family: monospace;
    }

    /* Định dạng cho các ô */
    .table, th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid black;
        text-align: center;
    }

        /* Định dạng cho dòng chẵn */
        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /* Định dạng khi di chuột qua */
        .table tr:hover {
            background-color: #ddd;
        }

    /* Định dạng cho dropdown select */
    .trangThaiSelect {
        padding: 8px;
        border-radius: 4px;
    }

    table p {
        margin-top: 16px !important;
        text-align: center;
    }
</style>


<h1>Danh sách khách sạn</h1>

<p>
    <a href="./create" class="btn btn-primary">Thêm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Tên Khách sạn
            </th>
            <th>
                Tỉnh thành
            </th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string cla = "table-success";
        }
        @foreach (var item in Model)
        {
            @if (item.IsDelete == false)
            {
                cla = "table-success";
                i += 1;
                if (i % 2 == 0)
                {
                    cla = "table-warning";
                }
                <tr class="@cla">
                    <td>
                        @i
                    </td>
                    <td>
                        <img src="@Url.Content("/Images/khachsan/" +item.AnhDaiDien)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKhachSan)
                    </td>
                    <td>
                        @getTinhThanhById(item.IdTinhThanh)
                    </td>
                    <td>
                        <a href="/admin/khachsan/update?idKhachSan=@item.Id"><i class="bx bx-edit"></i></a> |
                        <a href="/admin/khachsan/delete?idKhachSan=@item.Id"><i class="bx bx-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    string baseUrl = "";
}

<div class="pagination">
    <ul style="display: flex; justify-content: center;">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" href="@($"{baseUrl}?page={Model.PageNumber - 1}")">Trở về</a>
            </li>
        }

        @if (Model.PageNumber > 3)
        {
            <li class="page-item">
                <a class="page-link" href="@($"{baseUrl}?page=1")">1</a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
        }

        @for (int y = Model.PageNumber - 2; y <= Model.PageNumber + 2; y++)
        {
            if (y > 0 && y <= Model.PageCount)
            {
                <li class="page-item @(y == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@($"{baseUrl}?page={y}")">@y</a>
                </li>
            }
        }

        @if (Model.PageNumber < Model.PageCount - 2)
        {
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
            <li class="page-item">
                <a class="page-link" href="@($"{baseUrl}?page={Model.PageCount}")">@Model.PageCount</a>
            </li>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="@($"{baseUrl}?page={Model.PageNumber + 1}")">Tiếp</a>
            </li>
        }
    </ul>
</div>