@{
    Layout = null;
    List<Phong> listPhongs = ViewBag.phongs as List<Phong>;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model KhachSan
@{
    // Lấy giá trị từ Session
    string ngayDenString = Context.Session.GetString("bat_dau");
    string ngayDiString = Context.Session.GetString("ket_thuc");

    DateTime ngayDen, ngayDi;

    string ngayDenFormatted = "", ngayDiFormatted = "";

    // Kiểm tra xem giá trị từ Session có null hay không trước khi chuyển đổi
    if (!string.IsNullOrEmpty(ngayDenString) && DateTime.TryParse(ngayDenString, out ngayDen))
    {
        // Chuyển đổi thành chuỗi ngày theo định dạng YYYY-MM-DD
        ngayDenFormatted = ngayDen.ToString("yyyy-MM-dd");
    }
    else
    {
        // Xử lý trường hợp ngày đến không được thiết lập trong Session
    }

    // Kiểm tra xem giá trị từ Session có null hay không trước khi chuyển đổi
    if (!string.IsNullOrEmpty(ngayDiString) && DateTime.TryParse(ngayDiString, out ngayDi))
    {
        // Chuyển đổi thành chuỗi ngày theo định dạng YYYY-MM-DD
        ngayDiFormatted = ngayDi.ToString("yyyy-MM-dd");
    }
    else
    {
        // Xử lý trường hợp ngày đi không được thiết lập trong Session
    }

}

@functions {
    QuanLyKhachSanContext db = new QuanLyKhachSanContext();

    public List<string> getAllHinhAnh_Of_KS(int id)
    {
        var query = from k in db.KhachSans
                    join p in db.Phongs on k.Id equals p.IdKhachSan
                    join h in db.HinhAnhs on p.Id equals h.IdPhong
                    where k.Id == id
                    select h.UrlHinhAnh;
        var result = query.ToList();
        return result;
    }

    public List<string> getUrlHinhAnhById(int id)
    {
        List<string> hinh = db.HinhAnhs.Where(h => h.Id == id).Select(h => h.UrlHinhAnh).ToList();

        return hinh;
    }

    public double? getGiaTrungBinhKS(int idKs)
    {
        List<Phong> phongs = db.Phongs.Where(p => p.IdKhachSan == idKs).ToList();

        double? giaTB = 0;

        foreach (var item in phongs)
        {
            giaTB += item.GiaPhong;
        }

        return giaTB / phongs.Count();
    }

    // lấy ra ảnh tài khoản
    //public string getAnhOfTaiKhoanById(int? id)
    //{
    //    var taikhoan = db.TaiKhoans.FirstOrDefault(t => t.Id == id);
    //    string anh = taikhoan.Anh;
    //    return anh;
    //} 

    // lấy ra tài khoản
    public TaiKhoan getTaiKhoanById(int? id)
    {
        var taikhoan = db.TaiKhoans.FirstOrDefault(t => t.Id == id);
        return taikhoan;
    }

    // lấy tất cả tiện nghi của phòng
    public List<TienNghi> getAllTienNghiOfPhong(int? idP)
    {
        // Kiểm tra idP có giá trị không
        if (idP == null) return new List<TienNghi>();  // Trả về danh sách rỗng nếu idP là null

        var result = db.PhongTienNghis
               .Where(ptn => ptn.IdPhong == idP) // Sử dụng tham số idP
               .Join(db.TienNghis,
                     ptn => ptn.IdTienNghi,
                     tn => tn.Id,
                     (ptn, tn) => tn)  // Trả về các đối tượng TienNghi
               .ToList();  // Chuyển kết quả thành List

        return result;
    }

    //
    public int getCountPhongByIdKs(int idKs)
    {
        var query = from k in db.KhachSans
                    join p in db.Phongs on k.Id equals p.IdKhachSan
                    where k.Id == idKs
                    group p by k.Id into g
                    select g.Count();

        return query.FirstOrDefault();
    }

    // lấy danh sách đánh giá của khách sạn
    public List<DanhGium> getAllDanhGiaByIdKs(int idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).OrderByDescending(t => t.Id).ToList();
        return list;
    }

    // tính điểm trung bình
    public double getDiemTBOfDanhGia(int? diemSachSe, int? diemThoaiMai, int? diemNhanVien, int? diemCoSo)
    {
        double diemTB = (double)(diemSachSe + diemThoaiMai + diemNhanVien + diemCoSo) / 4; 
        return diemTB;
    }

    // tính điểm trung bình all
    public double getDiemTBAllById(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double diemTB = 0;
        foreach(var item in list)
        {
            diemTB += (double)(item.DiemThoaiMai + item.DiemNhanVien + item.DiemSachSe + item.DiemCoSo) / 4;
        }
        diemTB = diemTB / list.Count;
        return Math.Round(diemTB, 1);
    }

    // đánh giá bằng chữ
    public string getDanhGiaBangChu(double diem)
    {
        var result = "";
        if (diem >= 0 && diem <= 3)
        {
            result = "Rất tệ";
        }
        else if (diem > 3 && diem <= 3.5)
        {
            result = "Tệ";
        }
        else if (diem > 3.5 && diem <= 4)
        {
            result = "Bình thường";
        }
        else if (diem > 4 && diem <= 4.5)
        {
            result = "Tốt";
        }
        else
        {
            result = "Rất tốt";
        }
        return result;
    }

    // phần trăm và điểm trung bình của điểm sạch sẽ
    public double tiLeDiemSS(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double tongDiem = 0;
        foreach(var item in list) 
        {
            tongDiem += (double)(item.DiemSachSe);
        }
        double diemTrungBinh = tongDiem / list.Count;
        double tiLePhanTram = (diemTrungBinh / 5) * 100; // Giả sử điểm tối đa là 5

        return tiLePhanTram;
    }
    public double diemTBDiemSS(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double tongDiem = 0;
        foreach (var item in list)
        {
            tongDiem += (double)(item.DiemSachSe);
        }
        double diemTB = tongDiem / list.Count;
        return Math.Round(diemTB, 1);
    }

    // phần trăm và điểm trung bình của điểm thoải mái
    public double tiLeDiemTM(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double tongDiem = 0;
        foreach(var item in list) 
        {
            tongDiem += (double)(item.DiemThoaiMai);
        }
        double diemTrungBinh = tongDiem / list.Count;
        double tiLePhanTram = (diemTrungBinh / 5) * 100; // Giả sử điểm tối đa là 5

        return tiLePhanTram;
    }
    public double diemTBDiemTM(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double tongDiem = 0;
        foreach (var item in list)
        {
            tongDiem += (double)(item.DiemThoaiMai);
        }
        double diemTB = tongDiem / list.Count;
        return Math.Round(diemTB, 1);
    }

    // phần trăm và điểm trung bình của điểm nhân viên
    public double tiLeDiemNV(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double tongDiem = 0;
        foreach(var item in list) 
        {
            tongDiem += (double)(item.DiemNhanVien);
        }
        double diemTrungBinh = tongDiem / list.Count;
        double tiLePhanTram = (diemTrungBinh / 5) * 100; // Giả sử điểm tối đa là 5

        return tiLePhanTram;
    }
    public double diemTBDiemNV(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double tongDiem = 0;
        foreach (var item in list)
        {
            tongDiem += (double)(item.DiemNhanVien);
        }
        double diemTB = tongDiem / list.Count;
        return Math.Round(diemTB, 1);
    }

    // phần trăm và điểm trung bình của điểm cơ sở
    public double tiLeDiemCS(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double tongDiem = 0;
        foreach (var item in list)
        {
            tongDiem += (double)(item.DiemCoSo);
        }
        double diemTrungBinh = tongDiem / list.Count;
        double tiLePhanTram = (diemTrungBinh / 5) * 100; // Giả sử điểm tối đa là 5

        return tiLePhanTram;
    }
    public double diemTBDiemCS(int? idKs)
    {
        var list = db.DanhGia.Where(d => d.IdKhachSan == idKs).ToList();
        double tongDiem = 0;
        foreach (var item in list)
        {
            tongDiem += (double)(item.DiemCoSo);
        }
        double diemTB = tongDiem / list.Count;
        return Math.Round(diemTB, 1);
    }

    // lấy tất cả tiện nghi của phòng
    public List<TienNghi> getAllTienNghiOfKhachSan(int? idKs)
    {
        // Kiểm tra idP có giá trị không
        if (idKs == null) return new List<TienNghi>();  // Trả về danh sách rỗng nếu idP là null

        var result = db.KhachSanTienNghis
               .Where(ktn => ktn.IdKhachSan == idKs) // Sử dụng tham số idP
               .Join(db.TienNghis,
                     ktn => ktn.IdTienNghi,
                     tn => tn.Id,
                     (ktn, tn) => tn)  // Trả về các đối tượng TienNghi
               .ToList();  // Chuyển kết quả thành List

        return result;
    }

    // đếm số lượng hoá đơn theo tài khoản - để làm thức năng đánh giá - chỉ đã từng đặt phòng thì mới được đánh giá
    public int getCountDatPhongByIdTK(int? idTk, int? idKs)
    {
        int count = 0;
        var query = from dp in db.DatPhongs
                    join p in db.Phongs on dp.IdPhong equals p.Id
                    join k in db.KhachSans on p.IdKhachSan equals k.Id
                    where dp.IdTaiKhoan == idTk && k.Id == idKs
                    select new
                    {
                        IdDatPhong = dp.Id
                    };
        var list = query.ToList();
        if(list.Count() != 0)
        {
            count = list.Count();   
        }
        return count;
    }
}

<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from easybook.kwst.net/listing-single4.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:19:09 GMT -->
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>LUNA Hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="../LayoutHotel/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../LayoutHotel/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="../LayoutHotel/css/style.css">
    <link type="text/css" rel="stylesheet" href="../LayoutHotel/css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="../LayoutHotel/images/favicon.ico">
    <style>
        body {
            background-color: #544537;
        }

        .main-header, .footer-inner {
            background-color: #544537;
        }
    </style>
</head>
<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="pin">
            <div class="pulse"></div>
        </div>
    </div>
    <!--loader end-->
    <!-- Main  -->
    <div id="main">
        <!-- header-->
        @await Html.PartialAsync("_PartialHeader")
        <!--  header end -->
        <!--  wrapper  -->
        <div id="wrapper">
            <!-- content-->
            <div class="content">
                <!--  section  -->
                <section class="list-single-hero" data-scrollax-parent="true" id="sec1">
                    <div class="media-container video-parallax">
                        <div class="bg mob-bg" data-bg="../LayoutHotel/images/bg/9.jpg"></div>
                        <div class="video-container">
                            <video autoplay loop muted class="bgvid">
                                <source src="http://citybook.kwst.net/video/4.mp4" type="video/mp4">
                            </video>
                        </div>
                        <!--
                            Vimeo code

                             <div  class="background-vimeo" data-vim="97871257"> </div> -->
                        <!--
                            Youtube code

                             <div  class="background-youtube-wrapper" data-vid="Hg5iNVSp2z8" data-mv="1"> </div> -->
                    </div>
                    <div class="list-single-hero-title fl-wrap">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="listing-rating-wrap">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="@Model.SoSao"></div>
                                    </div>
                                    <h2><span>@Model.TenKhachSan</span></h2>
                                    <div class="list-single-header-contacts fl-wrap">
                                        <ul>
                                            @*<li><i class="far fa-phone"></i><a href="#">+7(111)123456789</a></li>*@
                                            <li><i class="far fa-map-marker-alt"></i><a href="#">@Model.DiaChi</a></li>
                                            @*<li><i class="far fa-envelope"></i><a href="#">yourmail@domain.com</a></li>*@
                                        </ul>
                                    </div>
                                </div>
                                @*<div class="col-md-5">
                                    <!--  list-single-hero-details-->
                                    <div class="list-single-hero-details fl-wrap">
                                        <!--  list-single-hero-rating-->
                                        <div class="list-single-hero-rating">
                                            <div class="rate-class-name">
                                                <div class="score"><strong>Very Good</strong>2 Reviews </div>
                                                <span>4.5</span>
                                            </div>
                                            <!-- list-single-hero-rating-list-->
                                            <div class="list-single-hero-rating-list">
                                                <!-- rate item-->
                                                <div class="rate-item fl-wrap">
                                                    <div class="rate-item-title fl-wrap"><span>Cleanliness</span></div>
                                                    <div class="rate-item-bg" data-percent="100%">
                                                        <div class="rate-item-line color-bg"></div>
                                                    </div>
                                                    <div class="rate-item-percent">5.0</div>
                                                </div>
                                                <!-- rate item end-->
                                                <!-- rate item-->
                                                <div class="rate-item fl-wrap">
                                                    <div class="rate-item-title fl-wrap"><span>Comfort</span></div>
                                                    <div class="rate-item-bg" data-percent="90%">
                                                        <div class="rate-item-line color-bg"></div>
                                                    </div>
                                                    <div class="rate-item-percent">5.0</div>
                                                </div>
                                                <!-- rate item end-->
                                                <!-- rate item-->
                                                <div class="rate-item fl-wrap">
                                                    <div class="rate-item-title fl-wrap"><span>Staf</span></div>
                                                    <div class="rate-item-bg" data-percent="80%">
                                                        <div class="rate-item-line color-bg"></div>
                                                    </div>
                                                    <div class="rate-item-percent">4.0</div>
                                                </div>
                                                <!-- rate item end-->
                                                <!-- rate item-->
                                                <div class="rate-item fl-wrap">
                                                    <div class="rate-item-title fl-wrap"><span>Facilities</span></div>
                                                    <div class="rate-item-bg" data-percent="90%">
                                                        <div class="rate-item-line color-bg"></div>
                                                    </div>
                                                    <div class="rate-item-percent">4.5</div>
                                                </div>
                                                <!-- rate item end-->
                                            </div>
                                            <!-- list-single-hero-rating-list end-->
                                        </div>
                                        <!--  list-single-hero-rating  end-->
                                        <div class="clearfix"></div>
                                        <!-- list-single-hero-links-->
                                        <div class="list-single-hero-links">
                                            <a class="lisd-link" href="booking-single.html"><i class="fal fa-bookmark"></i> Đặt ngay</a>
                                            <a class="custom-scroll-link lisd-link" href="#sec6"><i class="fal fa-comment-alt-check"></i> Thêm đánh giá</a>
                                        </div>
                                        <!--  list-single-hero-links end-->
                                    </div>
                                    <!--  list-single-hero-details  end-->
                                </div>*@
                            </div>
                            <div class="breadcrumbs-hero-buttom fl-wrap">
                                @*<div class="breadcrumbs"><a href="#">Home</a><a href="#">Listings</a><a href="#">New York</a><span>Listing Single</span></div>*@
                                <div class="list-single-hero-price">1 Đêm<span>@string.Format("{0:N0} VNĐ", @getGiaTrungBinhKS(Model.Id))</span></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  section  end-->
                <!--  section  -->
                <section class="grey-blue-bg small-padding scroll-nav-container" id="sec2">
                    <!--  scroll-nav-wrapper  -->
                    <div class="scroll-nav-wrapper fl-wrap">
                        <div class="hidden-map-container fl-wrap">
                            <input id="pac-input" class="controls fl-wrap controls-mapwn" type="text" placeholder="What Nearby ?   Bar , Gym , Restaurant ">
                            <div class="map-container">
                                <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="container">
                            <nav class="scroll-nav scroll-init">
                                <ul>
                                    <li><a class="act-scrlink" href="#sec1">Đầu trang</a></li>
                                    <li><a href="#sec2">Chi tiết</a></li>
                                    <li><a href="#sec3">Tiện nghi</a></li>
                                    <li><a href="#sec4">Phòng</a></li>
                                    <li><a href="#sec5">Đánh giá</a></li>
                                </ul>
                            </nav>
                            @*<a href="#" class="show-hidden-map">  <span>Trên bản đồ</span> <i class="fal fa-map-marked-alt"></i></a>*@
                        </div>
                    </div>
                    <!--  scroll-nav-wrapper end  -->
                    <!--   container  -->
                    <div class="container">
                        <!--   row  -->
                        <div class="row">
                            <!--   datails -->
                            <div class="col-md-8">
                                <div class="list-single-main-container ">
                                    <!-- fixed-scroll-column  -->
                                    <div class="fixed-scroll-column">
                                        <div class="fixed-scroll-column-item fl-wrap">
                                            <div class="showshare sfcs fc-button"><i class="far fa-share-alt"></i><span>Chia sẻ </span></div>
                                            <div class="share-holder fixed-scroll-column-share-container">
                                                <div class="share-container  isShare"></div>
                                            </div>
                                            <a class="fc-button custom-scroll-link" href="#sec6"><i class="far fa-comment-alt-check"></i> <span>  Thêm đánh giá </span></a>
                                            <a class="fc-button" href="#"><i class="far fa-heart"></i> <span>Lưu</span></a>
                                            <a class="fc-button" href="booking-single.html"><i class="far fa-bookmark"></i> <span> Đặt ngay </span></a>
                                        </div>
                                    </div>
                                    <!-- fixed-scroll-column end   -->
                                    <div class="list-single-main-media fl-wrap" id="sec2">
                                        <!-- gallery-items   -->
                                        <div class="gallery-items grid-small-pad  list-single-gallery three-coulms lightgallery">
                                            @foreach(var item in getAllHinhAnh_Of_KS(Model.Id))
                                            {
                                                <div class="gallery-item ">
                                                    <div class="grid-item-holder">
                                                        <div class="box-item">
                                                            <img src="@Url.Content("~/Images/phong/"+item)" alt="">
                                                            <a href="@Url.Content("~/Images/phong/"+item)" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <!-- end gallery items -->
                                    </div>
                                    <!-- list-single-header end -->
                                    <div class="list-single-facts fl-wrap">
                                        <!-- inline-facts -->
                                        <div class="inline-facts-wrap">
                                            <div class="inline-facts">
                                                <i class="fal fa-bed"></i>
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        @getCountPhongByIdKs(Model.Id)
                                                    </div>
                                                </div>
                                                <h6>Phòng</h6>
                                            </div>
                                        </div>
                                        <!-- inline-facts end -->
                                        <!-- inline-facts  -->
                                        <div class="inline-facts-wrap">
                                            <div class="inline-facts">
                                                <i class="fal fa-users"></i>
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        2557
                                                    </div>
                                                </div>
                                                <h6>Khách hàng hàng năm</h6>
                                            </div>
                                        </div>
                                        <!-- inline-facts end -->
                                        <!-- inline-facts -->
                                        <div class="inline-facts-wrap">
                                            <div class="inline-facts">
                                                <i class="fal fa-taxi"></i>
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        15
                                                    </div>
                                                </div>
                                                <h6>Khoảng cách đến trung tâm</h6>
                                            </div>
                                        </div>
                                        <!-- inline-facts end -->
                                        <!-- inline-facts -->
                                        <div class="inline-facts-wrap">
                                            <div class="inline-facts">
                                                <i class="fal fa-cocktail"></i>
                                                <div class="milestone-counter">
                                                    <div class="stats animaper">
                                                        4
                                                    </div>
                                                </div>
                                                <h6>Nhà hàng bên trong</h6>
                                            </div>
                                        </div>
                                        <!-- inline-facts end -->
                                    </div>
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Về khách sạn </h3>
                                        </div>
                                        <p>@Model.GioiThieu</p>
                                        @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>*@
                                        @*<a href="https://vimeo.com/70851162" class="btn flat-btn color-bg big-btn float-btn image-popup">Video Presentation <i class="fal fa-play"></i></a>*@
                                    </div>
                                    <!--   list-single-main-item end -->
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="sec3">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Tiện nghi</h3>
                                        </div>
                                        <div class="listing-features fl-wrap">
                                            <ul>
                                                @foreach(var item in getAllTienNghiOfKhachSan(Model.Id))
                                                {
                                                    <li><i class="@item.IconTienNghi"></i><span>@item.TenTienNghi</span></li>
                                                }
                                            </ul>
                                        </div>
                                        <span class="fw-separator"></span>
                                        @*<div class="list-single-main-item-title no-dec-title fl-wrap">
                                            <h3>Tags</h3>
                                        </div>
                                        <div class="list-single-tags tags-stylwrap">
                                            <a href="#">Khách sạn</a>
                                            <a href="#">Nhà trọ</a>
                                            <a href="#">Phòng</a>
                                            <a href="#">Spa</a>
                                            <a href="#">Nhà hàng</a>
                                            <a href="#">Bãi đậu xe</a>
                                        </div>*@
                                    </div>
                                    <!--   list-single-main-item end -->
                                    <!-- accordion-->
                                    @*<div class="accordion mar-top">
                                        <a class="toggle act-accordion" href="#"> Tùy chọn chi tiết   <span></span></a>
                                        <div class="accordion-inner visible">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                        </div>
                                        <a class="toggle" href="#"> Tùy chọn chi tiết 2  <span></span></a>
                                        <div class="accordion-inner">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                        </div>
                                        <a class="toggle" href="#"> Tùy chọn chi tiết 3  <span></span></a>
                                        <div class="accordion-inner">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                        </div>
                                    </div>*@
                                    <!-- accordion end -->
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="sec4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Phòng có sẵn</h3>
                                        </div>
                                        <!--   rooms-container -->
                                        <div class="rooms-container fl-wrap">
                                            <!--  rooms-item -->
                                            @foreach(var item in listPhongs)
                                            {
                                                @if(item.IsDelete == false)
                                                {
                                                    <div class="rooms-item fl-wrap">
                                                        <div class="rooms-media">
                                                            <img src="@Url.Content("~/Images/phong/"+item.AnhDaiDien)" alt="">
                                                            @*<div class="dynamic-gal more-photos-button" data-dynamicPath="[{'src': '../LayoutHotel/images/gal/slider/1.jpg'}, {'src': '../LayoutHotel/images/gal/slider/2.jpg'},{'src': '../LayoutHotel/images/gal/slider/3.jpg'}]">  View Gallery <span>3 photos</span> <i class="far fa-long-arrow-right"></i></div>*@
                                                        </div>
                                                        <div class="rooms-details">
                                                            <div class="rooms-details-header fl-wrap">
                                                                <span class="rooms-price">@string.Format("{0:N0} VNĐ", item.GiaPhong) <strong> / đêm</strong></span>
                                                                <h3 style="overflow-wrap: break-word;
                                                                          word-break: break-word;
                                                                          max-width: 200px;">
                                                                    @item.TenPhong
                                                                </h3>
                                                                <h5>Số người tối đa: <span>@item.SoNguoi người</span></h5>
                                                            </div>
                                                            <p>@item.MoTa</p>
                                                            <div class="facilities-list fl-wrap">
                                                                <ul>
                                                                    @foreach (var tn in getAllTienNghiOfPhong(item.Id))
                                                                    {
                                                                        <li><i class="@tn.IconTienNghi"></i><span>@tn.TenTienNghi</span></li>
                                                                    }
                                                                </ul>
                                                                <a href="/phong/chitietphong?id=@item.Id" class="btn color-bg ajax-link">Chi tiết<i class="fas fa-caret-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            <!--  rooms-item end -->
                                        </div>
                                        <!--   rooms-container end -->
                                    </div>
                                    <!-- list-single-main-item end -->
                                    <!-- list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="sec5">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Đánh giá -  <span> @getAllDanhGiaByIdKs(Model.Id).Count() </span></h3>
                                        </div>
                                        <!--reviews-score-wrap-->
                                        <div class="reviews-score-wrap fl-wrap">
                                            <div class="review-score-total">
                                                <span>
                                                    @getDiemTBAllById(Model.Id)
                                                    <strong>@getDanhGiaBangChu(@getDiemTBAllById(Model.Id))</strong>
                                                </span>
                                                <a href="#" class="color2-bg">Thêm đánh giá</a>
                                            </div>
                                            <div class="review-score-detail">
                                                <!-- review-score-detail-list-->
                                                <div class="review-score-detail-list">
                                                    <!-- rate item-->
                                                    <div class="rate-item fl-wrap">
                                                        <div class="rate-item-title fl-wrap"><span>Sạch sẽ</span></div>
                                                        <div class="rate-item-bg" data-percent="@tiLeDiemSS(Model.Id)%">
                                                            <div class="rate-item-line color-bg"></div>
                                                        </div>
                                                        <div class="rate-item-percent">@diemTBDiemSS(Model.Id)</div>
                                                    </div>
                                                    <!-- rate item end-->
                                                    <!-- rate item-->
                                                    <div class="rate-item fl-wrap">
                                                        <div class="rate-item-title fl-wrap"><span>Thoải mái</span></div>
                                                        <div class="rate-item-bg" data-percent="@tiLeDiemTM(Model.Id)%">
                                                            <div class="rate-item-line color-bg"></div>
                                                        </div>
                                                        <div class="rate-item-percent">@diemTBDiemTM(Model.Id)</div>
                                                    </div>
                                                    <!-- rate item end-->
                                                    <!-- rate item-->
                                                    <div class="rate-item fl-wrap">
                                                        <div class="rate-item-title fl-wrap"><span>Nhân viên</span></div>
                                                        <div class="rate-item-bg" data-percent="@tiLeDiemNV(Model.Id)%">
                                                            <div class="rate-item-line color-bg"></div>
                                                        </div>
                                                        <div class="rate-item-percent">@diemTBDiemNV(Model.Id)</div>
                                                    </div>
                                                    <!-- rate item end-->
                                                    <!-- rate item-->
                                                    <div class="rate-item fl-wrap">
                                                        <div class="rate-item-title fl-wrap"><span>Cơ sở</span></div>
                                                        <div class="rate-item-bg" data-percent="@tiLeDiemCS(Model.Id)%">
                                                            <div class="rate-item-line color-bg"></div>
                                                        </div>
                                                        <div class="rate-item-percent">@diemTBDiemCS(Model.Id)</div>
                                                    </div>
                                                    <!-- rate item end-->
                                                </div>
                                                <!-- review-score-detail-list end-->
                                            </div>
                                        </div>
                                        <!-- reviews-score-wrap end -->
                                        <div class="reviews-comments-wrap">
                                            <!-- reviews-comments-item -->
                                            @foreach(var item in getAllDanhGiaByIdKs(Model.Id).Take(3))
                                            {
                                                <div class="reviews-comments-item">
                                                    <div class="review-comments-avatar">
                                                        <img src="@Url.Content("~/Images/taikhoan/"+getTaiKhoanById(item.IdTaiKhoan).Anh)" alt="">
                                                    </div>
                                                    <div class="reviews-comments-item-text">
                                                        <h4><a href="#">@getTaiKhoanById(item.IdTaiKhoan).HoTen</a></h4>
                                                        <div class="review-score-user">
                                                            <span>@getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo)</span>
                                                            @if (@getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo) >= 0 && @getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo) <= 3)
                                                            {
                                                                <strong>Rất tệ</strong>
                                                            } else if(@getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo) > 3 && @getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo) <= 3.5)
                                                            {
                                                                <strong>Tệ</strong>
                                                            } else if (@getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo) > 3.5 && @getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo) <= 4)
                                                            {
                                                                <strong>Bình thường</strong>
                                                            } else if (@getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo) > 4 && @getDiemTBOfDanhGia(item.DiemSachSe, item.DiemThoaiMai, item.DiemNhanVien, item.DiemCoSo) <= 4.5)
                                                            {
                                                                <strong>Tốt</strong>
                                                            } else
                                                            {
                                                                <strong>Rất tốt</strong>
                                                            }
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <p>" @item.NoiDung "</p>
                                                        <div class="reviews-comments-item-date">@*<span><i class="far fa-calendar-check"></i>12 April 2018</span>*@<a href="#"><i class="fal fa-reply"></i> Trả lời</a></div>
                                                    </div>
                                                </div>
                                            }
                                            <!--reviews-comments-item end-->
                                        </div>
                                    </div>
                                    <!-- list-single-main-item end -->
                                    <!-- list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="sec6">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Thêm đánh giá</h3>
                                        </div>
                                        <!-- Add Review Box -->
                                        <div id="add-review" class="add-review-box">
                                            <!-- Review Comment -->
                                            <form id="add-comment" class="add-comment custom-form" name="rangeCalc" action="/phong/danhgia" method="post">
                                                <fieldset>
                                                    <div class="review-score-form fl-wrap">
                                                        <div class="review-range-container">
                                                            <input type="hidden" name="idKhachSan" value="@Model.Id"/>
                                                            <!-- review-range-item-->
                                                            <div class="review-range-item">
                                                                <div class="range-slider-title">Sạch sẽ</div>
                                                                <div class="range-slider-wrap">
                                                                    <input type="text" class="rate-range" data-min="0" data-max="5" name="rgcl" data-step="1" value="4">
                                                                </div>
                                                            </div>
                                                            <!-- review-range-item end -->
                                                            <!-- review-range-item-->
                                                            <div class="review-range-item">
                                                                <div class="range-slider-title">Thoải mái</div>
                                                                <div class="range-slider-wrap">
                                                                    <input type="text" class="rate-range" data-min="0" data-max="5" name="rgcl" data-step="1" value="1">
                                                                </div>
                                                            </div>
                                                            <!-- review-range-item end -->
                                                            <!-- review-range-item-->
                                                            <div class="review-range-item">
                                                                <div class="range-slider-title">Nhân viên</div>
                                                                <div class="range-slider-wrap">
                                                                    <input type="text" class="rate-range" data-min="0" data-max="5" name="rgcl" data-step="1" value="5">
                                                                </div>
                                                            </div>
                                                            <!-- review-range-item end -->
                                                            <!-- review-range-item-->
                                                            <div class="review-range-item">
                                                                <div class="range-slider-title">Cơ sở</div>
                                                                <div class="range-slider-wrap">
                                                                    <input type="text" class="rate-range" data-min="0" data-max="5" name="rgcl" data-step="1" value="3">
                                                                </div>
                                                            </div>
                                                            <!-- review-range-item end -->
                                                        </div>
                                                        <div class="review-total">
                                                            <span><input type="text" name="rg_total" value="" data-form="AVG({rgcl})" value="0"></span>
                                                            <strong>Điểm của bạn</strong>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label><i class="fal fa-user"></i></label>
                                                            <input name="hoTen" type="text" placeholder="Tên của bạn *" value="" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label><i class="fal fa-envelope"></i></label>
                                                            <input name="email" type="text" placeholder="Địa chỉ email *" value="" />
                                                        </div>
                                                    </div>
                                                    <textarea name="noiDung" cols="40" rows="3" placeholder="Đánh giá của bạn:"></textarea>
                                                </fieldset>
                                                @if(getCountDatPhongByIdTK(Context.Session.GetInt32("idUser"), Model.Id) != 0)
                                                {
                                                    <button type="submit" class="btn big-btn flat-btn float-btn color2-bg" style="margin-top:30px">Gửi đánh giá <i class="fal fa-paper-plane"></i></button>
                                                }
                                            </form>

                                            <script>
                                                // Khi form được submit
                                                document.getElementById('add-comment').addEventListener('submit', function (event) {
                                                    // Lấy tất cả các input có name là 'rgcl'
                                                    var inputs = document.querySelectorAll('input[name="rgcl"]');
                                                    var total = 0;

                                                    // Tính tổng điểm
                                                    inputs.forEach(function (input) {
                                                        total += parseFloat(input.value);
                                                    });

                                                    // Gán tổng điểm vào trường ẩn 'rg_total'
                                                    document.querySelector('input[name="rg_total"]').value = total;

                                                    // Tiếp tục submit form
                                                    return true;
                                                });
                                            </script>

                                        </div>
                                        <!-- Add Review Box / End -->
                                    </div>
                                    <!-- list-single-main-item end -->
                                </div>
                            </div>
                            <!--   datails end  -->
                            <!--   sidebar  -->
                            <div class="col-md-4">
                                <!--box-widget-wrap -->
                                <div class="box-widget-wrap">
                                    <!--box-widget-item -->
                                    @*<div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Đặt khách sạn này</h3>
                                                </div>
                                                <form name="bookFormCalc" class="book-form custom-form">
                                                    <fieldset>
                                                        <div class="cal-item">
                                                            <div class="listsearch-input-item">
                                                                <label>Loại phòng</label>
                                                                <select data-placeholder="Loại phòng" name="repopt" class="chosen-select no-search-select">
                                                                    <option value="0" selected>Chọn phòng</option>
                                                                    <option value="81">Standard Family Room - 81$</option>
                                                                    <option value="122">Superior Double Room - 122$</option>
                                                                    <option value="310">Deluxe Single Room - 310$</option>
                                                                </select>
                                                                <!--data-formula -->
                                                                <input type="text" name="item_total" class="hid-input" value="" data-form="{repopt}">
                                                            </div>
                                                        </div>
                                                        <div class="cal-item">
                                                            <div class="bookdate-container  fl-wrap">
                                                                <label><i class="fal fa-calendar-check"></i> Khi </label>
                                                                <input type="text" placeholder="Ngày vào ra" name="bookdates" value="" />
                                                                <div class="bookdate-container-dayscounter"><i class="far fa-question-circle"></i><span>Days : <strong>0</strong></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="cal-item">
                                                            <div class="quantity-item fl-wrap">
                                                                <label> Người lớn</label>
                                                                <div class="quantity">
                                                                    <input type="number" name="qty3" min="0" max="3" step="1" value="0">
                                                                    <input type="text" name="item_total" class="hid-input" value="0" data-form="{qty3} * {repopt} - {repopt}">
                                                                </div>
                                                            </div>
                                                            <div class="quantity-item fl-wrap fcit">
                                                                <label> Trẻ em</label>
                                                                <div class="quantity">
                                                                    <input type="number" name="qty2" min="0" max="3" step="1" value="0">
                                                                    <select name="sale" class="hid-input">
                                                                        <option value=".7" selected>sale</option>
                                                                    </select>
                                                                    <input type="text" name="item_total" class="hid-input" value="0" data-form="({repopt} * {sale})*{qty2}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <input type="number" id="totaldays" name="qty5" class="hid-input">
                                                    <div class="total-coast fl-wrap"><strong>Tổng tiền</strong> <span>$ <input type="text" name="grand_total" value="" data-form="SUM({item_total}) * {qty5}"></span></div>
                                                    <button class="btnaplly color2-bg">Đặt ngay<i class="fal fa-paper-plane"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>*@
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget counter-widget" data-countDate="09/12/2024">
                                            <div class="banner-wdget fl-wrap">
                                                <div class="overlay"></div>
                                                <div class="bg" data-bg="../LayoutHotel/images/bg/10.jpg"></div>
                                                @*<div class="banner-wdget-content fl-wrap">
                                                    <h4>Nhận giảm giá <span>20%</span> khi đặt phòng từ ba ngày.</h4>
                                                    <div class="countdown fl-wrap">
                                                        <div class="countdown-item">
                                                            <span class="days rot">00</span>
                                                            <p>days</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="hours rot">00</span>
                                                            <p>hours </p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="minutes rot">00</span>
                                                            <p>minutes </p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="seconds rot">00</span>
                                                            <p>seconds</p>
                                                        </div>
                                                    </div>
                                                    <a href="#">Đặt phòng</a>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Thông tin liên lạc</h3>
                                                </div>
                                                <div class="box-widget-list">
                                                    <ul>
                                                        <li><span><i class="fal fa-map-marker"></i> Địa chỉ :</span> <a href="#">Cầu Giấy, Hà Nội</a></li>
                                                        <li><span><i class="fal fa-phone"></i> Số điện thoại :</span> <a href="#">(+84)373234414</a></li>
                                                        <li><span><i class="fal fa-envelope"></i> Mail :</span> <a href="#">vuhuuhao1902@gmail.com</a></li>
                                                        <li><span><i class="fal fa-browser"></i> Website :</span> <a href="#">lunahotel.com</a></li>
                                                    </ul>
                                                </div>
                                                <div class="list-widget-social">
                                                    <ul>
                                                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    @*<div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Phạm vi giá</h3>
                                                </div>
                                                <div class="claim-price-wdget fl-wrap">
                                                    <div class="claim-price-wdget-content fl-wrap">
                                                        <div class="pricerange fl-wrap"><span>Giá : </span> 81$ - 320$ </div>
                                                        <div class="claim-widget-link fl-wrap"><span>Sở hữu hoặc làm việc ở đây?</span><a href="#">Yêu cầu ngay bây giờ!</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div id="weather-widget" class="gradient-bg ideaboxWeather" data-city="New York"></div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget widget-posts">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Điểm tham quan được đề xuất</h3>
                                                </div>
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media">
                                                        <img src="../LayoutHotel/images/all/4.jpg" alt="">
                                                        <a href="#" class="color2-bg" target="_blank">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>Times Square <span>2.3 km</span></h4>
                                                        <p>It?s impossible to miss the colossal billboards, glitzy lights and massive crowds that make this intersection the city?s beating heart.</p>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media">
                                                        <img src="../LayoutHotel/images/all/5.jpg" alt="">
                                                        <a href="#" class="color2-bg" target="_blank">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>Broadway<span>1.7 km</span></h4>
                                                        <p>Tap your feet to catchy ditties, hold back tears or bust your gut laughing at a world renowned Broadway performance.</p>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media">
                                                        <img src="../LayoutHotel/images/all/6.jpg" alt="">
                                                        <a href="#" class="color2-bg" target="_blank">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>Grand Central Station<span>0.7 km</span></h4>
                                                        <p>With its elegantly designed main concourse, this rail station is much more than just a massive transport hub.</p>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Tổ chức bởi</h3>
                                                </div>
                                                <div class="box-widget-author fl-wrap">
                                                    <div class="box-widget-author-title fl-wrap">
                                                        <div class="box-widget-author-title-img">
                                                            <img src="../LayoutHotel/images/avatar/4.jpg" alt="">
                                                        </div>
                                                        <a href="user-single.html">Jessie Manrty</a>
                                                        <span>4 Places Hosted</span>
                                                    </div>
                                                    <a href="author-single.html" class="btn flat-btn color-bg   float-btn image-popup">View Profile<i class="fal fa-user-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Danh sách tương tự</h3>
                                                </div>
                                                <div class="widget-posts fl-wrap">
                                                    <ul>
                                                        <li class="clearfix">
                                                            <a href="#" class="widget-posts-img"><img src="../LayoutHotel/images/gal/3.jpg" class="respimg" alt=""></a>
                                                            <div class="widget-posts-descr">
                                                                <a href="#" title="">Park Central</a>
                                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                                <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> 40 JOURNAL SQUARE PLAZA, NJ, US</a></div>
                                                                <span class="rooms-price">$80 <strong> /  Awg</strong></span>
                                                            </div>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="#" class="widget-posts-img"><img src="../LayoutHotel/images/gal/1.jpg" class="respimg" alt=""></a>
                                                            <div class="widget-posts-descr">
                                                                <a href="#" title="">Holiday Home</a>
                                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="3"></div>
                                                                <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> 75 PRINCE ST, NY, USA</a></div>
                                                                <span class="rooms-price">$50 <strong> /   Awg</strong></span>
                                                            </div>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="#" class="widget-posts-img"><img src="../LayoutHotel/images/gal/2.jpg" class="respimg" alt=""></a>
                                                            <div class="widget-posts-descr">
                                                                <a href="#" title="">Moonlight Hotel</a>
                                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                                                <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>  70 BRIGHT ST NEW YORK, USA</a></div>
                                                                <span class="rooms-price">$105 <strong> /  Awg</strong></span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <a class="widget-posts-link" href="#">Xem tất cả danh sách <i class="fal fa-long-arrow-right"></i> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <!--box-widget-item end -->
                                </div>
                                <!--box-widget-wrap end -->
                            </div>
                            <!--   sidebar end  -->
                        </div>
                        <!--   row end  -->
                    </div>
                    <!--   container  end  -->
                </section>
                <!--  section  end-->
            </div>
            <!-- content end-->
            <div class="limit-box fl-wrap"></div>
        </div>
        <!--wrapper end -->
        <!--footer -->
        @await Html.PartialAsync("_PartialFooter")
        <!--footer end -->
        <!--map-modal -->
        <div class="map-modal-wrap">
            <div class="map-modal-wrap-overlay"></div>
            <div class="map-modal-item">
                <div class="map-modal-container fl-wrap">
                    <h3>Hotel Title</h3>
                    <div class="map-modal fl-wrap">
                        <div id="singleMap" data-latitude="40.7" data-longitude="-73.1"></div>
                    </div>
                    <a href="#" class="btn color2-bg">View Details <i class="fal fa-angle-right"></i></a>
                    <div class="map-modal-close"><i class="far fa-times"></i></div>
                </div>
            </div>
        </div>
        <!--map-modal end -->
        <!--register form -->
        @*<div class="main-register-wrap modal">
            <div class="reg-overlay"></div>
            <div class="main-register-holder">
                <div class="main-register fl-wrap">
                    <div class="close-reg color-bg"><i class="fal fa-times"></i></div>
                    <ul class="tabs-menu">
                        <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> Login</a></li>
                        <li><a href="#tab-2"><i class="fal fa-user-plus"></i> Register</a></li>
                    </ul>
                    <!--tabs -->
                    <div id="tabs-container">
                        <div class="tab">
                            <!--tab -->
                            <div id="tab-1" class="tab-content">
                                <h3>Sign In <span>Easy<strong>Book</strong></span></h3>
                                <div class="custom-form">
                                    <form method="post" name="registerform">
                                        <label>Username or Email Address <span>*</span> </label>
                                        <input name="email" type="text" onClick="this.select()" value="">
                                        <label>Password <span>*</span> </label>
                                        <input name="password" type="password" onClick="this.select()" value="">
                                        <button type="submit" class="log-submit-btn"><span>Log In</span></button>
                                        <div class="clearfix"></div>
                                        <div class="filter-tags">
                                            <input id="check-a" type="checkbox" name="check">
                                            <label for="check-a">Remember me</label>
                                        </div>
                                    </form>
                                    <div class="lost_password">
                                        <a href="#">Lost Your Password?</a>
                                    </div>
                                </div>
                            </div>
                            <!--tab end -->
                            <!--tab -->
                            <div class="tab">
                                <div id="tab-2" class="tab-content">
                                    <h3>Sign Up <span>Easy<strong>Book</strong></span></h3>
                                    <div class="custom-form">
                                        <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                            <label>Full Name <span>*</span> </label>
                                            <input name="name" type="text" onClick="this.select()" value="">
                                            <label>Email Address <span>*</span></label>
                                            <input name="email" type="text" onClick="this.select()" value="">
                                            <label>Password <span>*</span></label>
                                            <input name="password" type="password" onClick="this.select()" value="">
                                            <button type="submit" class="log-submit-btn"><span>Register</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--tab end -->
                        </div>
                        <!--tabs end -->
                        <div class="log-separator fl-wrap"><span>or</span></div>
                        <div class="soc-log fl-wrap">
                            <p>For faster login or register use your social account.</p>
                            <a href="#" class="facebook-log"><i class="fab fa-facebook-f"></i>Connect with Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!--register form end -->
        <a class="to-top"><i class="fas fa-caret-up"></i></a>
        <!--ajax-modal-container-->
        <div class="ajax-modal-overlay"></div>
        <div class="ajax-modal-container">
            <!--ajax-modal -->
            <div class='ajax-loader'>
                <div class='ajax-loader-cirle'></div>
            </div>
            <div id="ajax-modal" class="fl-wrap">
            </div>
            <!--ajax-modal-container end -->
        </div>
        <!--ajax-modal-container end -->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="../LayoutHotel/js/jquery.min.js"></script>
    <script type="text/javascript" src="../LayoutHotel/js/plugins.js"></script>
    <script type="text/javascript" src="../LayoutHotel/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&amp;libraries=places&amp;callback=initAutocomplete"></script>
    <script type="text/javascript" src="../LayoutHotel/js/map-single.js"></script>
</body>

<!-- Mirrored from easybook.kwst.net/listing-single4.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:19:09 GMT -->
</html>
